# Backend port
PORT=3000

# Thirdweb credentials
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret

CHAIN=avalanche-fuji
WALLET_ADDRESS=your_wallet_address
CONTRACT_ADDRESS=your_contract_address